*{
    margin: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: blue;
    font-weight: bold;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: wheat;
}

.logo{
    font-size: 30px;
    color: green;
}

.logo-container{
    flex: 1;
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item.active{
    font-weight: bold;
}

.menu-list-item{
    margin-right: 10px;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}

.toggle-icon{
    color: goldenrod;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}

.left-menu-icon{
    color: white;
}